<!doctype html>
<html>
<head>
  <title>Luke Wilson Personal Website</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <!-- VIDEO JS SCRIPTS -->
  <link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
  <script src="../static/youtube.min.js"></script>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0" nonce="zGy6Ms2W"></script>

  <h1>Luke Wilson's Highlights Page</h1>

  <h2>Barcelona Games</h2>
  
  {% for game in games %}
    <p>{{ game }}</p>
    {{ game['embed_highlights']|safe }}
  {% endfor %}

</body>
</html>
