<!doctype html>
<html>
<head>
  <title>LW - {{ team_name }} Highlights</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='highlights.css') }}">
  <style>
    .hidetitle-square {
      height: 70px;
      width: {{ video_width }}px;
      background-color: #555;
      position: absolute;
      top:0;
      left: 50%;
      transform: translate(-50%,0%);
    }
    
    .hidetitle-frame {
      position: relative;
    }
  </style> 
</head>

<body>

  <h1>Highlights</h1>

  <h2>{{ team_name }} Games</h2>
  
  {% for game in games %}
    <p>{{ game['home'] }} vs {{ game['away'] }}</p>
    <div class="hidetitle-frame">
      {% autoescape false %}
        {{ game['embed_highlights'] | replace("video_width", video_width) | safe }}
      {% endautoescape %}
    </div>
  {% endfor %}

</body>
</html>
