<!doctype html>
<html>
<head>
  <title>LW - {{ team_name }} Highlights</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <!-- VIDEO JS SCRIPTS -->
  <link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
  <script src="../static/youtube.min.js"></script>
</head>

<body>

  <h1>Highlights</h1>

  <h2>{{ team_name }} Games</h2>
  
  {% for game in games %}
    <p>{{ game['home'] }} vs {{ game['away'] }}</p>
    {{ game['embed_highlights']|safe }}
  {% endfor %}

</body>
</html>
